/* Author: Elizabeth DeGroot
   Description: CSS style sheet to coorespond with the SSM (side sub menu) html page. 
*/

#navigation {
    font-size: 0.75em;
    width: 150px;
}

#navigation ul {
    margin: 0px;
    padding: 0px;
}

#navigation li {
    list-style: none;
}

ul.top-level {
    background: #666;
}

ul.top-level li {
    border-bottom: #fff solid;
    border-top: #fff solid;
    border-width: 1px;
}

#navigation a {
    color: #fff;
    cursor: pointer;
    display: block;
    height: 25px;
    line-height: 25px;
    text-indent: 10px;
    text-decoration: none;
    width: 100%;
}

#navigation a:hover {
    text-decoration: none;
}

#navigation li:hover {
    background: #f90;
    position: relative;
}

ul.sub-level {
    display: none;
}

li:hover .sub-level {
    background: #999;
    border: #fff solid;
    border-width: 1px;
    display: block;
    position: absolute;
    left: 75px;
    top: 5px;
}

ul.sub-level li {
    border: none;
    float: left;
    width: 150px;
}


/*Seconda Level*/

#navigation .sub-level {
    background: #999;
}


/*Third Level*/

#navigation .sub-level .sub-level {
    background: #09C;
}


/*RESET STYLES*/

li:hover .sub-level .sub-level {
    display: none;
}

.sub-level li:hover .sub-level {
    display: block;
}